@()

@main("homepage"){
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/homepage.css"></link>
    <title>Cool Not Math Games</title>
</head>
<body>
    <div class="topnav">
        <a href="#"></a>
        <a href="#">Home</a>
        <a href="#">Games</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <header><img src="../../public/images/Cool Not Math Games.png" alt="" style="width:128px;height:128px;"></header>
    <div class="container">
        <div class="game">
            <h2>Pictionary</h2>
            <p>Description of Game 1.</p>
            <a href="#">Play Game 1</a>
        </div>
        <div class="game">
            <h2>Wordle</h2> 
            <p>Description of Game 2.</p>
            <a href="#">Play Game 2</a>
        </div>
    </div>
</body>
</html>
}