@()(implicit request: RequestHeader, flash: Flash)

@("homepage"){
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/homepage.css")">
    <title>Cool Not Math Games</title>
</head>
<body>
  
    @views.html.navbar()(request, flash)
    <header><img src="@routes.Assets.versioned("images/CoolNotMathGamesLogo.png")" alt="Logo" style="width:128px;height:128px;"></header>
    <div class="container">
        <div class="game">
            <h2>Pictionary</h2>
            <p>Description of Game 1.</p>
            <a href="@routes.PictionaryController.pictionary">Play Game 1</a>
        </div>
        <div class="game">
            <h2>Wordle</h2> 
            <p>Description of Game 2.</p>
            <a href="@routes.Wordle.load">Play Game 2</a>
        </div>
    </div>
</body>
</html>
}