@()

    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictionary Game</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/pictionary.css")">
    </head>
    <body>

    <div id="container">
        <div id="title">DRAWING AND GUESSING GAME WITH FRIENDS</div>
        <div id="room-number">Room: #12345</div>

        <div id="prompt">Prompt: Turkey</div>

        <canvas id="drawing-area" width="600" height="400"></canvas>

        <div id="non-drawing-area-container">

        <div id="color-picker-container">
            <div class="color-option" style="background-color: red;"></div>
            <div class="color-option" style="background-color: green;"></div>
            <div class="color-option" style="background-color: blue;"></div>
            <div class="color-option" style="background-color: yellow;"></div>
            <div class="color-option" style="background-color: orange;"></div>
            <div class="color-option" style="background-color: purple;"></div>
        </div>

        <div id="prompt-container">
            <p>Enter Prompt</p>
            <form id="prompt-form">
                <input type="text" id="prompt-input" placeholder="Enter a prompt">
                <button type="submit" id="submit-prompt-button">Submit Prompt</button>
            </form>
        </div>

        <div id="win-container">
            <p>Congrats!! You won XXX Points!</p>
        </div>

        <div id="game-win-container">
            <p>Greg Won with XXX Points!</p>
            <button>Quit Game</button>
        </div>

        <form id="guess-form">
            <input type="text" id="guess-input" placeholder="Enter your guess">
            <button type="submit" id="submit-button">Submit Guess</button>
        </form>
        <div id="guess-display"></div>

        

        <div id="players-section">
            <div class="player-info">Player 1 - Score: 100</div>
            <div class="player-info">Player 2 - Score: 150</div>
            <!-- Add more player info as needed -->
        </div>
        
        </div>
    
    </div>

    </body>
    </html>
