
<!DOCTYPE html>
<html>
<head>
    <title>Pictionary</title>
    <link rel="stylesheet" href="../../public/stylesheets/pictionary.css"></link>

</head>
<body>
    <div id="container">
        <div id="lobby-container">
            <h1>Welcome to Pictionary!</h1>
            
            <div id="join-container">
                <h2>Create a New Lobby</h2>
                <form id="join-form">
                    <input type="text" id="createName" placeholder="Enter Your Name">
                    <input type = "submit">
                </form>
                <h2>Join an Existing Lobby</h2>
                <form id="join-form">
                    <input type="text" id="joinName" placeholder="Enter Your Name">
                    <input type="text" id="lobbyCode" placeholder="Enter Lobby Code">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>