@()

@main("wordle_main_page"){
    <!DOCTYPE html>
    <html>
        <head>
            <title>Wordle Main Page</title>

        </head>
        <body>
            <header class="site_header">
            <div id="header">
              <button href= "@routes.Application.home"id="homeButton">Home</button> 
              <img src="@routes.Assets.versioned("images/CoolNotMathGamesLogo.png")" alt="Logo" style="width:16px;height:16px;">
              <h2 id="gameTitle">Wordle</h2>
              <button id ="rulesButton">?</button>
              <button id="statisticsButton">Stats</button>
              <button id="settingButton">Settings</button>
            </div>
        </header>
            <div id="game_container">
                <div class="grid">
                    <div class="box"></div>

                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
            </div>
            <script src = "@routes.Assets.versioned("scripts/wordle_script.js")"></script>
        </body>
    </html>
}