@()

@main("wordle_main_page"){
    <!DOCTYPE html>
    <html>
        <head>
            <title>Wordle Main Page</title>

        </head>
        <body>
            <header class="site_header">
            <div id="header">
              <button href= "/homepage.scala.html"id="homeButton">Home</button> 
                <img src = "img of home button" alt ="HomeButton">
              <h2 id="gameTitle">Wordle</h2>
              <button id ="rulesButton">?</button>
              <button id="statisticsButton">Stats</button>
              <button id="settingButton">Settings</button>
            </div>
        </header>
            <div id="game_container">
                <div class="grid">
                    <div class="box"></div>

                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
            </div>
            <script sr = "./src/wordle_script.js" type = "module"></script>
        </body>
    </html>
}