body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10052b;
}
header {
    background-color: #10052b;
    color: #91abff;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.topnav {
    overflow: hidden;
    background-color: #10052b;
}
.topnav a {
    float: left;
    color: #91abff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #666;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
.game {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.game h2 {
    color: #333;
}
.game p {
    color: #666;
}